.title-hero {
  color: var(--WHITE, #fff);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}
.section-hero {
  background: var(--navyblue, #2e2f42);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-height: 432px;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/Dark-bg-mobile.jpg);
  padding-bottom: 72px;
  padding-top: 72px;
}
@media screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/Dark-bg@2x-mobile.jpg);
  }
}
.button {
  display: block;
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris, #4d5ae5);
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background: var(--ocean, #404bbf);
}
/* =========TABLE========== */
@media screen and (min-width: 768px) {
  .section-hero {
    max-height: 436px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/Dark-bg-table.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }
  @media screen and (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(/images/Dark-bg-table@2x.jpg);
    }
  }
  .title-hero {
    width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}
/* ========DESKTOP========= */
@media screen and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/people-office.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
  @media screen and (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(/images/people-office@2x.jpg);
    }
  }
  .title-hero {
    max-width: 496px;
    margin: 0 auto 48px;
  }
}
/* 

 */
